<a href="https://colab.research.google.com/github/CleristonLima/Python/blob/main/Machine_Learning_Validacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Validação cruzada e Aleatoriedade inicial**

In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/e99a526b2e7ccc6c3b70f53db43a87d2/raw/1605fc74aa778066bf2e6695e24d53cf65f2f447/machine-learning-carros-simulacao.csv"
dados = pd.read_csv(uri).drop(columns=["Unnamed: 0"], axis=1)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               18  35085.22134
1   40557.96        1               20  12622.05362
2   89627.50        0               12  11440.79806
3   95276.14        0                3  43167.32682
4  117384.68        1                4  12770.11290

In [2]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

x = dados[["preco", "idade_do_modelo", "km_por_ano"]]
y = dados["vendido"]

SEED = 158020
np.random.seed(SEED)
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                          test_size= 0.25,
                                                          stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 7500 elementos e testaremos com 2500 elementos

In [3]:
from sklearn.dummy import DummyClassifier

dummy_stratifield = DummyClassifier()
dummy_stratifield.fit(treino_x, treino_y)
acuracia = dummy_stratifield.score(treino_x, treino_y) * 100

print("A acuracia do dummy stratifield %.2f%%" % acuracia)

A acuracia do dummy stratifield 58.00%

In [4]:
# Para verificar a taxa através da arvore de decisão

from sklearn.tree import DecisionTreeClassifier

SEED = 158020
np.random.seed(SEED)
modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = dummy_stratifield.score(treino_x, treino_y) * 100

print("A acuracia foi %.2f%%" % acuracia)

A acuracia foi 58.00%

In [5]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

x = dados[["preco", "idade_do_modelo", "km_por_ano"]]
y = dados["vendido"]

SEED = 158020
np.random.seed(SEED)
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                          test_size= 0.25,
                                                          stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)


acuracia = dummy_stratifield.score(treino_x, treino_y) * 100
print("A acuracia foi %.2f%%" % acuracia)

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acuracia foi 58.00%

In [6]:
from sklearn.model_selection import cross_validate

# mean() -> Media
# std() -> Desvio Padrao

SEED = 158020
np.random.seed(SEED)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = 3, return_train_score = False)
media = results['test_score'].mean()
desvio_padrao = results['test_score'].std()

print("Accuracy com cross validation, 3 = [%.2f, %.2f]" % ((media - 2 * desvio_padrao) *100, (media + 2 * desvio_padrao) * 100))

Accuracy com cross validation, 3 = [74.99, 76.57]

In [7]:
# Fazendo o teste com o cross validation = 10

SEED = 158020
np.random.seed(SEED)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = 10, return_train_score = False)
media = results['test_score'].mean()
desvio_padrao = results['test_score'].std()

print("Accuracy com cross validation, 10 = [%.2f, %.2f]" % ((media - 2 * desvio_padrao) *100, (media + 2 * desvio_padrao) * 100))

Accuracy com cross validation, 10 = [74.24, 77.32]

In [8]:
# Fazendo o teste com o cross validation = 5

SEED = 158020
np.random.seed(SEED)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = 5, return_train_score = False)
media = results['test_score'].mean()
desvio_padrao = results['test_score'].std()

print("Accuracy com cross validation, 5 = [%.2f, %.2f]" % ((media - 2 * desvio_padrao) *100, (media + 2 * desvio_padrao) * 100))

Accuracy com cross validation, 5 = [75.21, 76.35]

# **KFold e aleatoriedade**

**Aleatoriedade no cross validate**

In [9]:
def imprime_resultados(results):
  media = results['test_score'].mean()
  desvio_padrao = results['test_score'].std()
  print("Accuracy %.2f" % (media * 100))
  print("Accuracy com cross validation = [%.2f, %.2f]" % ((media - 2 * desvio_padrao) *100, (media + 2 * desvio_padrao) * 100))

In [10]:
# Importando o KFold para a aleatoriedade

from sklearn.model_selection import KFold

SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = cv, return_train_score = False)
imprime_resultados(results)

Accuracy 75.78
Accuracy com cross validation = [74.37, 77.19]

In [11]:
SEED = 301
np.random.seed(SEED)

# Shuffle serve para bagunçar o resultado
cv = KFold(n_splits = 10, shuffle = True)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = cv, return_train_score = False)
imprime_resultados(results)

Accuracy 75.76
Accuracy com cross validation = [73.26, 78.26]

# **Estratificação**

**# Simulando uma situação horrive de azar**

Pode ser "Azar" como pode ser uma proporção de exemplos desbalanceados entre as classes

In [12]:
# Ordenando sem o shuffle
dados_azar = dados.sort_values("vendido", ascending=True)
x_azar = dados[["preco", "idade_do_modelo", "km_por_ano"]]
y_azar = dados["vendido"]
dados_azar.head()

         preco  vendido  idade_do_modelo   km_por_ano
4999  74023.29        0               12  24812.80412
5322  84843.49        0               13  23095.63834
5319  83100.27        0               19  36240.72746
5316  87932.13        0               16  32249.56426
5315  77937.01        0               15  28414.50704

In [13]:
# Sem o shuffle
from sklearn.model_selection import KFold

SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x_azar, y_azar, cv = cv, return_train_score = False)
imprime_resultados(results)

Accuracy 75.78
Accuracy com cross validation = [74.37, 77.19]

In [14]:
# Com o Shuffle
from sklearn.model_selection import KFold

SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits = 10, shuffle=True)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x_azar, y_azar, cv = cv, return_train_score = False)
imprime_resultados(results)

Accuracy 75.76
Accuracy com cross validation = [73.26, 78.26]

In [15]:
# Para exportar com o Stratified KFold
from sklearn.model_selection import StratifiedKFold

SEED = 301
np.random.seed(SEED)

cv = StratifiedKFold(n_splits = 10, shuffle=True)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x_azar, y_azar, cv = cv, return_train_score = False)
imprime_resultados(results)

Accuracy 75.78
Accuracy com cross validation = [74.42, 77.14]

# **Dados Agrupaveis**

**Gerando os dados aleatórios de modelo de carro para a simulação de agrupamento ao usar nosso estimador**

In [16]:
# Criando uma coluna

dados.idade_do_modelo

0       18
1       20
2       12
3        3
4        4
        ..
9995    12
9996    16
9997     4
9998     7
9999    19
Name: idade_do_modelo, Length: 10000, dtype: int64

In [22]:
np.random.seed(SEED)

# Gera os numero entre -2 e 2, com o tamanho de 10000

dados['modelo'] = dados.idade_do_modelo + np.random.randint(-2, 3, size=10000)
dados.modelo = dados.modelo + abs(dados.modelo.min()) + 1
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano  modelo
0   30941.02        1               18  35085.22134      18
1   40557.96        1               20  12622.05362      24
2   89627.50        0               12  11440.79806      14
3   95276.14        0                3  43167.32682       6
4  117384.68        1                4  12770.11290       5

In [23]:
dados.modelo.unique()

array([18, 24, 14,  6,  5, 13, 20, 19, 15,  2, 17, 12, 11, 16,  3,  7, 21,
       23, 10,  9, 22,  8,  4,  1])

In [24]:
# Pegando o valor absoluto

abs(dados.modelo.unique())

array([18, 24, 14,  6,  5, 13, 20, 19, 15,  2, 17, 12, 11, 16,  3,  7, 21,
       23, 10,  9, 22,  8,  4,  1])

In [25]:
dados.modelo.value_counts()

20    901
19    798
18    771
21    723
17    709
16    668
14    621
22    575
15    573
13    557
12    511
11    401
10    371
23    370
9     336
8     278
7     206
24    199
6     181
5     108
4      76
3      44
2      17
1       6
Name: modelo, dtype: int64

In [28]:
from sklearn.model_selection import GroupKFold

SEED = 301
np.random.seed(SEED)

cv = GroupKFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x_azar, y_azar, cv = cv, groups = dados.modelo, return_train_score = False)
imprime_resultados(results)

Accuracy 75.80
Accuracy com cross validation = [72.00, 79.60]

          preco  idade_do_modelo   km_por_ano
0      30941.02               18  35085.22134
1      40557.96               20  12622.05362
2      89627.50               12  11440.79806
3      95276.14                3  43167.32682
4     117384.68                4  12770.11290
...         ...              ...          ...
9995   97112.86               12  25060.64248
9996  107424.63               16  21317.31764
9997   93856.99                4  20950.38812
9998   51250.57                7  16840.13376
9999   87945.73               19  19894.66108

[10000 rows x 3 columns]

**Cross validation com StandardScaler**

In [33]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

SEED = 301
np.random.seed(SEED)

scaler = StandardScaler()
scaler.fit(treino_x)
treino_x_escalado = scaler.transform(treino_x)
teste_x_escalado = scaler.transform(treino_x)

modelo = SVC()
modelo.fit(treino_x_escalado, treino_y)
previsoes = modelo.predict(teste_x)


acuracia = dummy_stratifield.score(teste_x_escalado, treino_y) * 100
print("A acuracia foi %.2f%%" % acuracia)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

A acuracia foi 58.00%

In [34]:
from sklearn.model_selection import GroupKFold

SEED = 301
np.random.seed(SEED)

cv = GroupKFold(n_splits = 10)
modelo = SVC()
results = cross_validate(modelo, x_azar, y_azar, cv = cv, groups = dados.modelo, return_train_score = False)
imprime_resultados(results)

Accuracy 77.23
Accuracy com cross validation = [73.75, 80.70]

In [41]:
scaler = StandardScaler()
scaler.fit(x_azar)
x_azar_escalado = scaler.transform(x_azar)

In [42]:
from sklearn.model_selection import GroupKFold

SEED = 301
np.random.seed(SEED)

cv = GroupKFold(n_splits = 10)
modelo = SVC()
results = cross_validate(modelo, x_azar_escalado, y_azar, cv = cv, groups = dados.modelo, return_train_score = False)
imprime_resultados(results)

Accuracy 76.57
Accuracy com cross validation = [73.25, 79.89]

In [51]:
# O Pipeline pe recomendando colocar ate mesmo na parte de treino e faz um pre processamento mais de uma vez

from sklearn.pipeline import Pipeline

SEED = 301
np.random.seed(SEED)

scaler = StandardScaler()
modelo = SVC()

pipeline = Pipeline([('transformacao', scaler), ('Estimador',modelo)])
pipeline

cv = GroupKFold(n_splits = 10)
modelo = SVC()
results = cross_validate(pipeline, x_azar, y_azar, cv = cv, groups = dados.modelo, return_train_score = False)
imprime_resultados(results)

Accuracy 76.55
Accuracy com cross validation = [73.22, 79.88]